.exchange-form{
    margin: 10rem;
    padding: 20px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    .form-select{
        margin-bottom: -20px;
        margin-left: -20px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .radio-group {
            display: inline-block;
            padding: 5px;
            border-radius: 10px 10px 0 0;
            padding-right: 10px;
            background: #bbbbbb;
            label {
                margin-left: 0;
            }
        }
    }
    @media (min-width: 960px) {
        .form-select {
            justify-content: left;
            .radio-group {
                border-top-left-radius: 0;
            }
        }
    }
    
}