
.exchange {
    color: white;
    font-family: 'Roboto';
    width: 100%;
    background: #2c1748;
    padding: 6px;
    border-radius: 18px;


    .heading{
        padding-bottom: 10px;
        .exchange-title{
            height: 60px;
            .exchange-name {
                text-align: center;
                // font-size: 2.2vw;
            }
            .server {
                text-align: center;
                // font-size: 1.5vw;
            }
        }
        .close-btn {
            float: left;
            // left: -14px;
            // top: -18px;
            margin-right: -40px;
        }
        .lvl-button-group {
            display: inline-flex;
            float: right;
            background-color: #2c1748;
            margin-left: -148px;
            .btn {
                color: white;
            }
            .btn:hover {
                background-color: #00000047;
            }
        }
        // .add-button{
        //     float: right;
        //     right: 20px;
        //     bottom: 35px;
        //     background-color: #663d9d;
        // }
        // .substract-button{
        //     color:red;
        //     float: right;
        //     right: -20px;
        //     bottom: 15px;
        //     background-color: #663d9d;
        // }
    }
    .window {
        border-radius: 15px;
        overflow: hidden;
        width:100%;
        .json {

            background-color: #00182b;
            height: 500px;
            padding: 0 18px;
            overflow: auto;
            transition: height 1.5s;
            .renderjson {
                a { text-decoration: none; color: #fff; }
                .disclosure { color: #696969; font-size: 125%; font-family: 'Material Icons' }
                .syntax { color: grey; }
                .string { color: #ffa900; }
                .number { color: #fff000; }
                .boolean { color: #fff000; }
                .key    { color: #ffffff; }
                .keyword { color: #ff44b3; }
                .object.syntax { color: #00fff0; }
                .array.syntax  { color: #00fff0; }
            }
        }
        .json.closed {
            height: 0px;
        }
        .footer {
            background-color: #1b1b1b;
            height: 36px;
            .btn {
                width: 64px;
                border-top-left-radius: 0;
            }
            .last-received {
                display: inline-block;
                width: calc(100% - 64px);
                text-align: center;
                vertical-align: middle;
                font-size: .9rem;
                cursor: pointer;
            }
        }
    }
    
}