.exchange {
    color: white;
    font-family: 'Roboto';
    width: 100%;
    background: #2c1748;
    padding: 6px;
    border-radius: 18px;
    .close-btn {
        float: left;
        left: 0;
        top: 0;
        margin-right: -40px;
    }
    .heading{
        padding-bottom: 10px;
        .exchange-name {
            text-align: center;
            // font-size: 2.2vw;
        }
        .server {
            text-align: center;
            // font-size: 1.5vw;
        }
    }
    .window {
        border-radius: 15px;
        overflow: hidden;
        .json {
            background-color: #00182b;
            height: 400px;
            padding: 0 18px;
            overflow: auto;
            transition: height 1.5s;
            .renderjson {
                a { text-decoration: none; color: #fff; }
                .disclosure { color: #696969; font-size: 125%; font-family: 'Material Icons' }
                .syntax { color: grey; }
                .string { color: #ffa900; }
                .number { color: #fff000; }
                .boolean { color: #fff000; }
                .key    { color: #ffffff; }
                .keyword { color: blue; }
                .object.syntax { color: #00fff0; }
                .array.syntax  { color: #00fff0; }
            }
        }
        .json.closed {
            height: 0px;
        }
        .footer {
            background-color: #1b1b1b;
            height: 36px;
            .btn {
                width: 64px;
                border-top-left-radius: 0;
            }
            .last-received {
                display: inline-block;
                width: calc(100% - 64px);
                text-align: center;
                vertical-align: middle;
                font-size: .9rem;
                cursor: pointer;
            }
        }
    }
    
}