.rmq-form {
    .form-heading {
        text-align: center;
    }
    @media (min-width: 960px) {
        .form-heading {
            text-align: initial;
        }
    }
    .form-group {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding:10px;
        .form-input {
            flex-basis: 70%;
            margin-bottom: 12px;
        }
        @media (min-width: 960px) {
            .form-input {
                flex-basis: 30%;
            }
        }
    }
    .submit-area {
        display: flex;
        justify-content: center;
    }
}