.app {
    .add-btn {
        position: absolute !important;
        right: 5px;
        top: 35px;
    }
    main {
        padding: 10px 20px;
        .exchange-container {
            margin-left: -17px;
        }
    }
}