.app {
  .add-btn {
    position: absolute !important;
    right: 5px;
    top: 35px;
  }
  main {
    padding: 25px 20px;
    .exchange-container {
      margin-left: -17px;
    }
  }
  footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    background: #00000082;
    height: 34px;
    color: white;
    text-align: center;
    padding: 10px;
  }
}
